{
    "boggon_addresses":
    [
        {
            "action": "deny",
            "from_host": "0.0.0.0",
            "from_wildcard": "0.255.255.255",
            "to_host": "any"

        },
        {
            "action": "deny",
            "from_host": "127.0.0.0",
            "from_wildcard": "0.255.255.255",
            "to_host": "any"

        },
        {
            "action": "deny",
            "from_host": "192.0.2.0",
            "from_wildcard": "0.0.0.255",
            "to_host": "any"

        },
        {
            "action": "deny",
            "from_host": "224.0.0.0",
            "from_wildcard": "31.255.255.255",
            "to_host": "any"
        },
        {
            "action": "deny",
            "from_host": "169.254.0.0",
            "from_wildcard": "0.0.255.255",
            "to_host": "any"

        },
        {
            "action": "deny",
            "from_host": "10.0.0.0",
            "from_wildcard": "0.255.255.255",
            "to_host": "any"

        },
        {
            "action": "deny",
            "from_host": "172.16.0.0",
            "from_wildcard": "0.15.255.255",
            "to_host": "any"

        },
        {
            "action": "deny",
            "from_host": "192.168.0.0",
            "from_wildcard": "0.0.255.255",
            "to_host": "any"
        }
    ],

    "common_prot":
    [
        {
            "action": "permit",
            "from_port": "gre",
            "from_host": "any",
            "to_host": "any",
            "to_port": ""
        },        
        {
            "action": "permit",
            "from_port": "ipinip",
            "from_host": "any",
            "to_host": "any",
            "to_port": ""
        },        
        {
            "action": "permit",
            "from_port": "udp",
            "from_host": "any",
            "to_host": "any",
            "to_port": "range 3343 34202"
        },
        {
            "action": "permit",
            "from_port": "tcp",
            "from_host": "any",
            "to_host": "any",
            "to_port": "eq bgp"
        },        
        {
            "action": "permit",
            "from_port": "icmp",
            "from_host": "any",
            "to_host": "any",          
            "to_port": ""
        },
        {
            "action": "deny",
            "from_port": "tcp",
            "from_host": "any",
            "to_host": "any",         
            "to_port": "eq ldp"
        },
        {
            "action": "deny",
            "from_port": "tcp",
            "from_host": "any",
            "to_host": "any",          
            "to_port": "eq ldp"
        }
    ],
    "ip_core_addresses":
    [
        {% for address in echo.results %}
        {
            "action": "deny",
            "from_host": "{{ address.stdout }}",
            "from_wildcard": "{{ address.stdout | ipaddr('hostmask') }}",
            "to_host": "any"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]


}
